<h1>Inthila Chanthirat's Interesting Capybara | ITIS3135</h1>
    <nav class="primary">
        <a href="index.html">Home</a> | 
        <a href="introduction.html">Introduction</a> | 
        <a href="contract.html">Contract</a> |
        <a href="website_evaluations.html">Website Evaluations</a>
    </nav>
    <nav class="secondary">
        <a href="mascotcompany/index.html" target="_blank">Interesting Capybara</a> |
        <a href="project/stuff/WEB%20page%20%3A%29.htm" target="_blank">My CrApPy Page</a>
    </nav>